@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.hide-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fcf7f8;
  /* refugio-cream */
  color: #6b5b3e;
  /* refugio-earth */
}